In [116]:
import pandas as pd

enrollment = pd.read_csv('../data/enrollment.csv')
students = pd.read_csv('../data/student0216.csv')

students.head()
print students.finalmajor.unique()

,studentid,entranceyear,finalyear,majors,concentrations,finalmajor,finalconcentration,code-semester
0,10136845,2013,2016,['Undeclared ' 'Mechanical Engine...,[nan],Mechanical Engineering,NaN,['AHSE1145 1314FA ' 'AHSE2141 1314SP ...
1,10191843,2014,2015,['Undeclared '],[nan],Undeclared,NaN,['AHSE1145 1415FA ' 'AHSE1515 1415SP ...
2,10208842,2014,2016,['Undeclared ' 'Engineering ...,['Computing '],Engineering,Computing,['AHSE1199 1415FA ' 'AHSE1515 1415SP ...
3,10324389,2007,2011,['Undeclared ' 'Engineering ...,['Self Designed '],Engineering,Self Designed,['AHSE1199 0708FA ' 'AHSE1500 0809FA ...
4,10463379,2003,2007,"['Undeclared ' ""Electr'l & Comput...",[nan],Mechanical Engineering,NaN,['AHS1101 0304FA ' 'AHS1111 0304SP ...

In [119]:
def course_part_of_major(course, major):
    major_counts = get_major_counts(major)
    course_major_counts = get_course_major_count(course, major)
    print major_counts
    print course_major_counts
    
    above = course_major_counts <= major_counts
    pvalue = sum(above) / float(len(major_counts))
    return pvalue
    
def get_course_major_count(course, major):
    course_student_ids = get_course_student_ids(course)
    majors = students[students.studentid.isin(course_student_ids)].finalmajor
    major_count = sum(majors == major)
    return major_count
        
def get_major_counts(major):
    courses = enrollment.columns[1:]
    major_counts = []
    for course in courses:
        major_count = get_course_major_count(course, major)
        major_counts.append(major_count)
    return major_counts
        
def get_course_student_ids(course):
    return enrollment[enrollment.loc[:, course] == True].index.tolist()

In [120]:
course_part_of_major('Dynamics', 'Mechanical Engineering')

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0

TypeError: 'bool' object is not iterable

In [ ]:
course_part_of_major('Technology in American History', 'Mechanical Engineering')

In [ ]:
import random

courses = enrollment.columns[1:]
some_courses = random.sample(courses, 5)
some_courses += ['Signals and Systems']

pvalues = [course_part_of_major(course, "Electr'l & Computer Engr") for course in some_courses]
print pvalues

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

sns.barplot(pvalues, some_courses)
plt.show()