In [2]:
import pandas as pd

data = pd.read_csv('../data/registrations.csv')

In [3]:
def grade(gr):
    if gr == 'FR':
        return 1
    elif gr == 'SO':
        return 2
    elif gr == 'SP':
        return 2
    elif gr == 'JR':
        return 3
    elif gr == 'SR':
        return 4
    else:
        print gr
        print 'grade error ???'
        
data['numgrade'] = data['grade'].apply(grade)

GR
grade error ???
XR
grade error ???
GR
grade error ???

In [4]:
data.head()

,studentid,semester,grade,major,concentration,code,section,coursetitle,sectiontitle,professor,course-sectiontitle,code-semester,Unnamed: 0,coursetype,numgrade
0,30876146,0708FA,SR,Engineering,Computing,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Lynch, Caitrin",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0708FA,247,NaN,4
1,23925034,0607FA,SR,Engineering,Bioengineering,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
2,99052948,0607FA,SR,Electr'l & Computer Engr,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
3,29826367,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
4,91614816,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4

In [7]:
courses = data.groupby('code')
print coursed

{'AHS1110': 1    28
2     4
Name: numgrade, dtype: int64, 'AHS1111': 1    8
2    3
3    1
Name: numgrade, dtype: int64, 'SCI2199A': 1    15
2     4
3     3
4     1
Name: numgrade, dtype: int64, 'ENGR3220': 3    172
4    127
2      5
Name: numgrade, dtype: int64, 'ENGR2299': 4    4
2    2
3    1
Name: numgrade, dtype: int64, 'ENGR3499C': 4    3
Name: numgrade, dtype: int64, 'MTH0097': 4    21
2    21
3    14
1     4
Name: numgrade, dtype: int64, 'ENGR2340': 2    134
3     91
4     28
1      5
Name: numgrade, dtype: int64, 'ENGR3599': 3    45
2    41
4    36
1    17
Name: numgrade, dtype: int64, 'MTH0098': 4    24
3    17
2     3
1     3
Name: numgrade, dtype: int64, 'ENGR3299': 4    83
3    66
2     4
Name: numgrade, dtype: int64, 'SCI1410': 2    286
3    175
1    114
4     81
Name: numgrade, dtype: int64, 'SEM 201': 4    2
3    1
Name: numgrade, dtype: int64, 'MTH3198': 4    10
2     2
3     1
Name: numgrade, dtype: int64, 'SCI1098': 2    1
Name: numgrade, dtype: int64, 'SEM 501': 2    5
4    3
3    3
Name: numgrade, dtype: int64, 'ENGR3830': 3    5
4    4
2    4
Name: numgrade, dtype: int64, 'AHSE0112': 1    155
2     94
4     53
3     53
Name: numgrade, dtype: int64, 'AHSE1101': 1    25
Name: numgrade, dtype: int64, 'AHSE1100': 1    180
3      1
2      1
Name: numgrade, dtype: int64, 'AHSE1102': 1    27
Name: numgrade, dtype: int64, 'MTH2188B': 2    12
3     3
4     1
1     1
Name: numgrade, dtype: int64, 'SCI2299': 2    24
3    17
4    12
1     1
Name: numgrade, dtype: int64, 'MTH2188A': 2    25
3    18
4     8
Name: numgrade, dtype: int64, 'ENGR3425': 4    4
3    2
Name: numgrade, dtype: int64, 'MTH1097': 2    3
1    1
Name: numgrade, dtype: int64, 'ENGR3427': 4    11
3    10
Name: numgrade, dtype: int64, 'ELE1010': 1    12
Name: numgrade, dtype: int64, 'ENGR2420 L': 2    42
3    34
4    17
Name: numgrade, dtype: int64, 'ENGR3420': 3    187
4     71
2      5
Name: numgrade, dtype: int64, 'SCI3120': 2    6
3    4
Name: numgrade, dtype: int64, 'ENGR4198': 4    260
3     99
2     81
1      7
Name: numgrade, dtype: int64, 'ENGR4199': 4    16
3     9
Name: numgrade, dtype: int64, 'SCI2130': 2    31
1    14
4    10
3     9
Name: numgrade, dtype: int64, 'ENGR2599': 2    12
1     9
4     5
3     5
Name: numgrade, dtype: int64, 'MEC1000': 2    26
3    23
1    13
4     2
Name: numgrade, dtype: int64, 'FND1410': 1    150
Name: numgrade, dtype: int64, 'SCI4198': 4    63
3    20
2     2
Name: numgrade, dtype: int64, 'MTH2199': 2    91
4    49
3    47
1    13
Name: numgrade, dtype: int64, 'SEM 103': 2    2
3    1
4    1
Name: numgrade, dtype: int64, 'SEM 102': 1    3
2    2
Name: numgrade, dtype: int64, 'SEM 101': 2    5
4    3
3    2
1    1
Name: numgrade, dtype: int64, 'SCI1120': 1    209
2     28
Name: numgrade, dtype: int64, 'ENGR2141': 1    20
3     2
2     1
Name: numgrade, dtype: int64, 'ENGR2510': 1    344
2    245
3     74
4     27
Name: numgrade, dtype: int64, 'CD1097': 2    1
Name: numgrade, dtype: int64, 'OIE1000': 1    602
Name: numgrade, dtype: int64, 'ENGR3525': 3    82
2    70
4    47
1     8
Name: numgrade, dtype: int64, 'ENGR3520A': 2    8
3    7
1    1
Name: numgrade, dtype: int64, 'ISR0097': 2    82
3    68
1    47
4    31
Name: numgrade, dtype: int64, 'ENGR4290': 4    67
3    15
Name: numgrade, dtype: int64, 'ENGR3199': 4    36
3    23
2     7
1     6
Name: numgrade, dtype: int64, 'ENGR0097': 2    190
3    126
4    107
1     74
Name: numgrade, dtype: int64, 'ENGR3599A': 4    26
2    24
3    16
1     1
Name: numgrade, dtype: int64, 'ENGR0098': 4    79
2    64
1    49
3    44
Name: numgrade, dtype: int64, 'ENGR3599B': 2    7
3    6
4    5
Name: numgrade, dtype: int64, 'SCI0098X': 3    2
4    1
Name: numgrade, dtype: int64, 'AHS1120': 1    18
2     4
Name: numgrade, dtype: int64, 'SCI1310 L': 1    62
2    23
4    15
3    15
Name: numgrade, dtype: int64, 'AHS1122': 1    9
2    6
Name: numgrade, dtype: int64, 'SCI1410A': 2    80
1    44
3    16
4     6
Name: numgrade, dtype: int64, 'FND1310': 1    75
Name: numgrade, dtype: int64, 'AHSE4590': 4    166
3     20
Name: numgrade, dtype: int64, 'ENGR2199B': 2    14
3     7
4     3
1     3
Name: numgrade, dtype: int64, 'ENGR2199C': 2    11
3    10
4     5
1     2
Name: numgrade, dtype: int64, 'MTH3160': 4    4
3    4
2    4
Name: numgrade, dtype: int64, 'AHSE4598': 4    17
3    10
Name: numgrade, dtype: int64, 'ENGR3290': 4    22
3    18
Name: numgrade, dtype: int64, 'SCI2399': 2    25
4    17
3    14
Name: numgrade, dtype: int64, 'ENGR3899': 3    30
4    23
2    20
Name: numgrade, dtype: int64, 'SCI3098': 3    4
Name: numgrade, dtype: int64, 'SCI2099B': 4    7
3    4
2    1
1    1
Name: numgrade, dtype: int64, 'SCI1111': 1    682
2      1
Name: numgrade, dtype: int64, 'SCI1110': 1    316
Name: numgrade, dtype: int64, 'SEM 502': 4    3
3    2
Name: numgrade, dtype: int64, 'SCI1210 L': 2    42
3    31
1    20
4    14
Name: numgrade, dtype: int64, 'ENGR3699': 4    32
3    30
2    18
1     1
Name: numgrade, dtype: int64, 'AHSE2170': 3    4
2    2
4    1
Name: numgrade, dtype: int64, 'ENGR3450': 3    16
4    10
2    10
Name: numgrade, dtype: int64, 'SCI1121A': 2    24
1    18
Name: numgrade, dtype: int64, 'ENGR2210': 2    701
3    126
1     87
4     28
Name: numgrade, dtype: int64, 'ENGR3415': 4    13
3    11
Name: numgrade, dtype: int64, 'ENGR3345': 3    12
4    11
2     3
Name: numgrade, dtype: int64, 'ENGR3610': 3    21
4    13
2     5
Name: numgrade, dtype: int64, 'ISR1100': 2    1
Name: numgrade, dtype: int64, 'ENGR3340': 3    64
2    23
4    20
Name: numgrade, dtype: int64, 'SCI2140': 1    14
2    12
3    10
4     8
Name: numgrade, dtype: int64, 'ENGR1097': 2    9
3    4
Name: numgrade, dtype: int64, 'MTH2199A': 3    11
2     7
4     6
1     4
Name: numgrade, dtype: int64, 'MTH3150': 4    61
3    36
2     9
Name: numgrade, dtype: int64, 'MEC2910': 3    15
2    12
1     2
Name: numgrade, dtype: int64, 'ENGR3410': 3    229
2    109
4     64
1      2
Name: numgrade, dtype: int64, 'AHS1130': 1    18
2     2
Name: numgrade, dtype: int64, 'ENGR1330': 3    56
2    13
4     3
Name: numgrade, dtype: int64, 'MTH2110': 3    217
2    151
4     74
1      8
Name: numgrade, dtype: int64, 'FND2510': 2    59
3    11
Name: numgrade, dtype: int64, 'E! CAP SPR': 4    5
Name: numgrade, dtype: int64, 'SCI2214': 1    8
2    5
3    4
4    2
Name: numgrade, dtype: int64, 'FND2610': 2    67
3     7
Name: numgrade, dtype: int64, 'ENGR3299A': 4    10
3     7
2     1
Name: numgrade, dtype: int64, 'AHSE3599': 3    41
4    34
2    33
1     6
Name: numgrade, dtype: int64, 'ENGR2320': 2    199
3     67
4     13
1      3
Name: numgrade, dtype: int64, 'ENGR2620': 4    3
3    2
2    2
Name: numgrade, dtype: int64, 'MTH3170': 3    75
4    62
2    26
1     1
Name: numgrade, dtype: int64, 'AHSE3190': 4    107
3     85
2      6
Name: numgrade, dtype: int64, 'ENGR3355': 3    18
4    11
2    10
Name: numgrade, dtype: int64, 'AHSE3510': 3    42
2    23
4    19
1     2
Name: numgrade, dtype: int64, 'MTH3199A': 3    2
2    1
4    1
Name: numgrade, dtype: int64, 'SUST2201': 2    24
3     6
Name: numgrade, dtype: int64, 'AHSE3199': 4    49
3    24
Name: numgrade, dtype: int64, 'SCI2320': 2    59
3    23
4    12
1     3
Name: numgrade, dtype: int64, 'SCI3320': 2    11
4     2
3     1
Name: numgrade, dtype: int64, 'ENGR3440': 4    6
3    2
Name: numgrade, dtype: int64, 'ENGR3110': 4    16
3     2
Name: numgrade, dtype: int64, 'SCI2099A': 4    11
3    11
2     8
1     5
Name: numgrade, dtype: int64, 'ECE2910': 2    18
3     8
Name: numgrade, dtype: int64, 'ISR2900': 2    1
Name: numgrade, dtype: int64, 'SCI2099': 4    72
2    68
3    49
1    14
Name: numgrade, dtype: int64, 'ENGR3600': 2    55
3    26
4     3
1     2
Name: numgrade, dtype: int64, 'ENGR3350': 3    37
2    33
4     4
1     2
Name: numgrade, dtype: int64, 'ENGR4190': 4    1481
3      86
Name: numgrade, dtype: int64, 'MTH3140': 3    19
2     8
4     7
Name: numgrade, dtype: int64, 'AHS2110': 2    22
Name: numgrade, dtype: int64, 'BAB5001': 3    1
Name: numgrade, dtype: int64, 'ENGR2410': 2    296
3     61
4     10
1     10
Name: numgrade, dtype: int64, 'MTH1111': 1    682
2      1
Name: numgrade, dtype: int64, 'MTH1110': 1    293
Name: numgrade, dtype: int64, 'ENGR3540': 2    31
3    22
4    10
1     1
Name: numgrade, dtype: int64, 'FND1311': 1    75
Name: numgrade, dtype: int64, 'AHSE3100': 4    12
Name: numgrade, dtype: int64, 'ENGR3710': 4    142
3     39
2      1
Name: numgrade, dtype: int64, 'ENGR3098': 3    2
2    2
Name: numgrade, dtype: int64, 'AHSE1150': 1    41
2     2
Name: numgrade, dtype: int64, 'ENGR3426': 3    32
4    26
2     1
Name: numgrade, dtype: int64, 'MTH2310': 2    12
1     1
Name: numgrade, dtype: int64, 'AHSE1155': 1    84
4     3
2     3
Name: numgrade, dtype: int64, 'SEM 301': 1    14
2     8
4     2
3     1
Name: numgrade, dtype: int64, 'SCI1210A': 3    35
2    10
4     1
Name: numgrade, dtype: int64, 'MTH2150': 2    65
3     6
1     3
Name: numgrade, dtype: int64, 'AHS1140': 1    7
Name: numgrade, dtype: int64, 'AWAY1000': 3    55
4    45
Name: numgrade, dtype: int64, 'SEM 303': 3    3
4    2
1    2
2    1
Name: numgrade, dtype: int64, 'SEM 503': 2    5
4    3
3    1
Name: numgrade, dtype: int64, 'MTH2210': 1    120
2      2
Name: numgrade, dtype: int64, 'ELE1020': 1    6
Name: numgrade, dtype: int64, 'AHSE3500': 3    8
Name: numgrade, dtype: int64, 'FND1312': 1    74
Name: numgrade, dtype: int64, 'ENGR3499B': 4    6
3    2
Name: numgrade, dtype: int64, 'ELE1025': 1    5
2    1
Name: numgrade, dtype: int64, 'ISR1900': 1    1
Name: numgrade, dtype: int64, 'AHSE2112': 3    32
4    28
2    13
1     5
Name: numgrade, dtype: int64, 'MEC1915': 2    4
3    2
Name: numgrade, dtype: int64, 'AHSE2110': 2    105
1     51
3     21
4      7
Name: numgrade, dtype: int64, 'AHSE2114': 3    32
4    20
2    19
1     8
Name: numgrade, dtype: int64, 'MTH3199': 3    11
2     7
4     5
Name: numgrade, dtype: int64, 'AHSE3130': 4    12
2     6
3     5
Name: numgrade, dtype: int64, 'SCI3210': 4    4
3    3
2    2
Name: numgrade, dtype: int64, 'ENGR3140': 3    4
4    3
2    1
Name: numgrade, dtype: int64, 'CIE2016A': 1    36
Name: numgrade, dtype: int64, 'SCI3130': 4    14
2    12
1    11
3     7
Name: numgrade, dtype: int64, 'AHSE1599': 2    19
3     5
4     4
Name: numgrade, dtype: int64, 'ENGR3499': 3    29
4    27
2     4
Name: numgrade, dtype: int64, 'FND1510': 1    150
Name: numgrade, dtype: int64, 'AHSE1145': 1    52
2     1
Name: numgrade, dtype: int64, 'SCI1097': 3    11
2     3
4     1
Name: numgrade, dtype: int64, 'ISR4198': 4    33
3     6
2     1
Name: numgrade, dtype: int64, 'FND1220': 1    121
2     31
Name: numgrade, dtype: int64, 'AHSE1140': 1    37
Name: numgrade, dtype: int64, 'MTH3130': 3    10
4     4
2     2
1     1
Name: numgrade, dtype: int64, 'ENGR3380': 3    73
4    59
2     3
Name: numgrade, dtype: int64, 'MTH2120': 2    318
1    163
3     53
4     15
Name: numgrade, dtype: int64, 'AHS1150': 1    23
2     5
3     1
Name: numgrade, dtype: int64, 'AHSE1515': 1    166
3     23
2     15
4      7
Name: numgrade, dtype: int64, 'MTH2220A': 2    24
Name: numgrade, dtype: int64, 'AHSE11BA': 2    1
Name: numgrade, dtype: int64, 'MTH2160': 2    3
4    2
3    1
Name: numgrade, dtype: int64, 'SCI3110': 2    20
3     5
1     2
4     1
Name: numgrade, dtype: int64, 'SEM 302': 3    7
1    5
2    4
4    3
Name: numgrade, dtype: int64, 'BAB1001': 3    5
2    1
1    1
Name: numgrade, dtype: int64, 'SEM 105': 4    4
3    2
Name: numgrade, dtype: int64, 'MTH1000': 1    29
Name: numgrade, dtype: int64, 'FND1420': 1    121
2     29
Name: numgrade, dtype: int64, 'SEM 104': 2    3
Name: numgrade, dtype: int64, 'AHSE2199': 3    72
4    47
2    43
1    32
Name: numgrade, dtype: int64, 'ENGR3370': 4    91
3    63
2     8
Name: numgrade, dtype: int64, 'FND2350': 2    57
3    14
1     1
Name: numgrade, dtype: int64, 'SCI2032': 3    14
4     7
Name: numgrade, dtype: int64, 'ISR1030': 1    2
Name: numgrade, dtype: int64, 'ENGR3270': 3    4
4    2
Name: numgrade, dtype: int64, 'AHSE2120': 2    4
1    4
3    2
Name: numgrade, dtype: int64, 'ELE1050': 1    27
2     6
Name: numgrade, dtype: int64, 'MTH4198': 4    28
3     7
2     6
Name: numgrade, dtype: int64, 'ENGR3640': 2    5
4    4
3    1
Name: numgrade, dtype: int64, 'SCI1121': 1    158
2     35
3      1
Name: numgrade, dtype: int64, 'ENGR3310': 3    139
2     87
4     67
1      1
Name: numgrade, dtype: int64, 'SCI2145': 2    9
3    3
1    3
4    2
Name: numgrade, dtype: int64, 'ENGR3499A': 4    39
3    36
2    32
1     3
Name: numgrade, dtype: int64, 'MTH2220': 2    127
4      2
1      2
3      1
Name: numgrade, dtype: int64, 'ENGR1199A': 1    12
2     2
Name: numgrade, dtype: int64, 'FND2240': 2    64
3     7
1     1
Name: numgrade, dtype: int64, 'FND1210': 1    150
Name: numgrade, dtype: int64, 'ENGR0098X': 2    21
4     8
3     5
Name: numgrade, dtype: int64, 'SCI1310': 1    73
2    41
3    28
4    20
Name: numgrade, dtype: int64, 'MTH3120': 4    66
3    66
2    46
1     8
Name: numgrade, dtype: int64, 'ENGR3330': 3    232
4     77
2     28
1      2
Name: numgrade, dtype: int64, 'MTH2130': 2    412
3     97
1     56
4     51
Name: numgrade, dtype: int64, 'ENGR3392': 4    26
3    17
2    14
Name: numgrade, dtype: int64, 'MTH2132': 3    14
4     7
Name: numgrade, dtype: int64, 'ENGR3390': 3    116
2     80
4     40
1      9
Name: numgrade, dtype: int64, 'AHSE1500': 1    331
2    309
3     76
4     30
Name: numgrade, dtype: int64, 'MTH2131': 2    17
4     7
3     7
Name: numgrade, dtype: int64, 'AHSE1130': 1    49
3     1
2     1
Name: numgrade, dtype: int64, 'ENGR2599A': 2    9
4    4
3    2
Name: numgrade, dtype: int64, 'ENGR3590': 3    12
4     8
2     4
Name: numgrade, dtype: int64, 'AHSE1135': 1    25
2     1
Name: numgrade, dtype: int64, 'AHSE3199A': 4    19
3     1
Name: numgrade, dtype: int64, 'AHSE2199F': 4    6
3    4
2    3
Name: numgrade, dtype: int64, 'AHSE2199E': 4    12
1     2
Name: numgrade, dtype: int64, 'AHSE2199C': 4    20
3    11
2    10
1     6
Name: numgrade, dtype: int64, 'AHSE2199B': 4    46
2    22
3    20
1    15
Name: numgrade, dtype: int64, 'AHSE2199A': 3    77
1    61
2    41
4    31
Name: numgrade, dtype: int64, 'AHSE2131': 2    26
4    19
3    16
1     8
Name: numgrade, dtype: int64, 'AHSE2130': 3    2
2    1
Name: numgrade, dtype: int64, 'ENGR3899A': 2    7
4    6
3    5
Name: numgrade, dtype: int64, 'MTH2188': 1    242
2    134
3      1
Name: numgrade, dtype: int64, 'ELE2715': 1    6
2    4
3    3
Name: numgrade, dtype: int64, 'ENGR2250': 2    891
3     69
4      1
1      1
Name: numgrade, dtype: int64, 'ENGR2420': 2    136
3    113
4     42
1      1
Name: numgrade, dtype: int64, 'SCI2210': 3    21
2    18
4     9
Name: numgrade, dtype: int64, 'ELE2710': 3    2
2    1
Name: numgrade, dtype: int64, 'SCI1210': 2    378
3    214
1    174
4     87
Name: numgrade, dtype: int64, 'ENGR3260': 4    64
3    29
Name: numgrade, dtype: int64, 'AHSE4199': 3    3
Name: numgrade, dtype: int64, 'AHSE4198': 4    91
3    30
2     5
Name: numgrade, dtype: int64, 'FND2410': 2    73
3     1
1     1
Name: numgrade, dtype: int64, 'FND2411': 2    73
3     1
1     1
Name: numgrade, dtype: int64, 'ENGR3630': 3    6
4    3
2    1
Name: numgrade, dtype: int64, 'ENGR3320': 3    59
2    43
1     2
Name: numgrade, dtype: int64, 'SCI2199': 3    15
2    12
4     6
1     5
Name: numgrade, dtype: int64, 'AHSE4190': 4    324
3     27
Name: numgrade, dtype: int64, 'ENGR1199': 2    16
1    12
3     6
4     3
Name: numgrade, dtype: int64, 'SUST3301': 4    12
3     2
Name: numgrade, dtype: int64, 'ENGR2199A': 2    16
3     7
1     7
4     6
Name: numgrade, dtype: int64, 'ENGR3810': 3    30
4    17
2    10
Name: numgrade, dtype: int64, 'FND2710': 2    54
3    15
1     1
Name: numgrade, dtype: int64, 'ENGR3812': 3    1
Name: numgrade, dtype: int64, 'SCI3199': 3    5
4    2
Name: numgrade, dtype: int64, 'AHS CAP SPR': 4    30
Name: numgrade, dtype: int64, 'SEM 402': 4    4
3    4
2    4
Name: numgrade, dtype: int64, 'SCI2320 L': 2    30
3    16
4    10
1     2
Name: numgrade, dtype: int64, 'ENGR1110': 1    832
3      2
2      1
Name: numgrade, dtype: int64, 'ENGR3399': 4    33
3    29
2    14
1     1
Name: numgrade, dtype: int64, 'SCI2110': 3    3
Name: numgrade, dtype: int64, 'AHSE1122': 1    165
2      2
4      1
Name: numgrade, dtype: int64, 'SEM 401': 2    5
4    3
3    3
Name: numgrade, dtype: int64, 'ENGR3210': 3    125
4     78
2      8
1      1
Name: numgrade, dtype: int64, 'SCI10WE': 4    2
3    1
Name: numgrade, dtype: int64, 'ENGR3199A': 4    19
3     8
2     5
Name: numgrade, dtype: int64, 'ISR1500': 1    4
2    3
Name: numgrade, dtype: int64, 'ISR1300': 2    3
3    2
Name: numgrade, dtype: int64, 'ENGR3199B': 2    5
4    2
3    1
1    1
Name: numgrade, dtype: int64, 'ENGR3520': 3    84
4    48
2    47
1     7
Name: numgrade, dtype: int64, 'ISR1020': 2    1
Name: numgrade, dtype: int64, 'ENGR3250': 4    27
3    13
2     1
Name: numgrade, dtype: int64, 'SCI0098': 4    34
2    15
3    11
1     3
Name: numgrade, dtype: int64, 'AHSE2140': 3    9
2    2
Name: numgrade, dtype: int64, 'AHSE2141': 1    20
3     2
2     1
Name: numgrade, dtype: int64, 'ENGR3820': 3    55
4    38
2    27
Name: numgrade, dtype: int64, 'MTH2140': 2    300
1    103
3     97
4     18
Name: numgrade, dtype: int64, 'ISR0098': 4    27
2    11
3    10
1     9
Name: numgrade, dtype: int64, 'SCI0097': 2    73
3    52
4    31
1    20
Name: numgrade, dtype: int64, 'ENGR3335': 3    2
4    1
Name: numgrade, dtype: int64, 'AHS1102': 1    50
Name: numgrade, dtype: int64, 'AHS1101': 1    46
Name: numgrade, dtype: int64, 'ENGR1200': 1    999
Name: numgrade, dtype: int64, 'ENGR2350': 2    110
3     80
4     41
1      9
Name: numgrade, dtype: int64, 'AHS1105': 1    10
2     6
Name: numgrade, dtype: int64, 'ENGR3620': 3    11
2     8
4     7
1     2
Name: numgrade, dtype: int64, 'ENGR2699': 3    8
2    3
Name: numgrade, dtype: int64, 'ELE1090': 2    3
1    2
Name: numgrade, dtype: int64, 'ENGR3699A': 2    14
3     8
1     6
4     5
Name: numgrade, dtype: int64, 'ENGR2330': 2    60
1    55
3    39
4    15
Name: numgrade, dtype: int64, 'MTH2199B': 1    4
4    3
3    1
Name: numgrade, dtype: int64, 'MTH2199C': 2    11
3    10
4     5
1     2
Name: numgrade, dtype: int64, 'ENGR2199': 1    23
2    17
4     7
3     4
Name: numgrade, dtype: int64, 'ENGR1125': 1    169
3      2
Name: numgrade, dtype: int64, 'ISR1200': 1    3
Name: numgrade, dtype: int64, 'MTH0098X': 4    7
3    4
2    4
Name: numgrade, dtype: int64, 'ENGR1120': 1    453
2     26
Name: numgrade, dtype: int64, 'ENGR1121': 1    335
2      6
Name: numgrade, dtype: int64, 'ENGR3430': 3    30
4    13
2     5
Name: numgrade, dtype: int64, 'SCI2220': 2    2
3    1
4    1
Name: numgrade, dtype: int64, 'ICB2': 1    67
2    10
Name: numgrade, dtype: int64, 'OIP1000': 4    12
3     9
2     6
1     1
Name: numgrade, dtype: int64, 'FND1320': 1    120
2     29
Name: numgrade, dtype: int64, 'ICB1': 1    79
Name: numgrade, dtype: int64, 'ENG1510': 1    11
2    10
3     4
Name: numgrade, dtype: int64, 'MTH1120': 1    427
2     46
Name: numgrade, dtype: int64, 'ENGR3531': 2    17
4     7
3     7
Name: numgrade, dtype: int64, 'ENGR3530': 3    3
2    3
Name: numgrade, dtype: int64, 'ENGR3240': 3    15
4     7
Name: numgrade, dtype: int64, 'AHSE1199': 1    316
4      1
3      1
2      1
Name: numgrade, dtype: int64, 'SCI1199': 1    32
2     9
3     3
4     1
Name: numgrade, dtype: int64, 'FND2490': 2    47
3    26
Name: numgrade, dtype: int64, 'SCI1130': 1    301
2     22
4      2
3      1
Name: numgrade, dtype: int64, 'ENGR1510': 1    99
2     2
Name: numgrade, dtype: int64}

In [6]:
coursed = {}
for course in courses:
    coursed[course[0]] = course[1].numgrade.value_counts()

coursedf = pd.DataFrame(coursed)
coursedf = coursedf.transpose()
coursedf.head()

              1   2   3   4
AHS CAP SPR NaN NaN NaN  30
AHS1101      46 NaN NaN NaN
AHS1102      50 NaN NaN NaN
AHS1105      10   6 NaN NaN
AHS1110      28   4 NaN NaN

In [6]:
import math
def nan(value):
    if math.isnan(value):
        return 0
    else:
        return value

def nan_subtract(numgradeval, meanval):
    if math.isnan(numgradeval):
        return 0
    else:
        return numbradeval - meanval
    
coursedf['total_students'] = (coursedf[1.0].apply(nan) + coursedf[2.0].apply(nan) 
                              + coursedf[3.0].apply(nan) + coursedf[4.0].apply(nan))
coursedf['mean_grade'] = (coursedf[1.0].apply(nan) + 2*coursedf[2.0].apply(nan) 
                          + 3*coursedf[3.0].apply(nan) + 4*coursedf[4.0].apply(nan))/coursedf['total_students']

coursedf['dev1.0'] = (1.0-coursedf['mean_grade'])**2 * coursedf[1.0]
coursedf['dev2.0'] = (2.0-coursedf['mean_grade'])**2 * coursedf[2.0]
coursedf['dev3.0'] = (3.0-coursedf['mean_grade'])**2 * coursedf[3.0]
coursedf['dev4.0'] = (4.0-coursedf['mean_grade'])**2 * coursedf[4.0]


coursedf['standard_dev'] = (coursedf['dev1.0'].apply(nan) 
                            + coursedf['dev2.0'].apply(nan) 
                            + coursedf['dev3.0'].apply(nan) + 
                            coursedf['dev4.0'].apply(nan))/(coursedf['total_students'])


coursedf.head(100)

,1.0,2.0,3.0,4.0,total_students,mean_grade,dev1.0,dev2.0,dev3.0,dev4.0,standard_dev
AHS CAP SPR,NaN,NaN,NaN,30,30,4.000000,NaN,NaN,NaN,0.000000,0.000000
AHS1101,46,NaN,NaN,NaN,46,1.000000,0.000000,NaN,NaN,NaN,0.000000
AHS1102,50,NaN,NaN,NaN,50,1.000000,0.000000,NaN,NaN,NaN,0.000000
AHS1105,10,6,NaN,NaN,16,1.375000,1.406250,2.343750,NaN,NaN,0.234375
AHS1110,28,4,NaN,NaN,32,1.125000,0.437500,3.062500,NaN,NaN,0.109375
AHS1111,8,3,1,NaN,12,1.416667,1.388889,1.020833,2.506944,NaN,0.409722
AHS1120,18,4,NaN,NaN,22,1.181818,0.595041,2.677686,NaN,NaN,0.148760
AHS1122,9,6,NaN,NaN,15,1.400000,1.440000,2.160000,NaN,NaN,0.240000
AHS1130,18,2,NaN,NaN,20,1.100000,0.180000,1.620000,NaN,NaN,0.090000
AHS1140,7,NaN,NaN,NaN,7,1.000000,0.000000,NaN,NaN,NaN,0.000000
AHS1150,23,5,1,NaN,29,1.241379,1.340071,2.877527,3.092747,NaN,0.252081
AHS2110,NaN,22,NaN,NaN,22,2.000000,NaN,0.000000,NaN,NaN,0.000000
AHSE0112,155,94,53,53,355,2.011268,158.512636,0.011934,51.812363,209.617996,1.182972
AHSE1100,180,1,1,NaN,182,1.016484,0.048907,0.967305,3.934338,NaN,0.027201
AHSE1101,25,NaN,NaN,NaN,25,1.000000,0.000000,NaN,NaN,NaN,0.000000
AHSE1102,27,NaN,NaN,NaN,27,1.000000,0.000000,NaN,NaN,NaN,0.000000
AHSE1122,165,2,NaN,1,168,1.029762,0.146152,1.882724,NaN,8.822314,0.064590
AHSE1130,49,1,1,NaN,51,1.058824,0.169550,0.885813,3.768166,NaN,0.094579
AHSE1135,25,1,NaN,NaN,26,1.038462,0.036982,0.924556,NaN,NaN,0.036982
AHSE1140,37,NaN,NaN,NaN,37,1.000000,0.000000,NaN,NaN,NaN,0.000000
AHSE1145,52,1,NaN,NaN,53,1.018868,0.018512,0.962620,NaN,NaN,0.018512
AHSE1150,41,2,NaN,NaN,43,1.046512,0.088697,1.818280,NaN,NaN,0.044348
AHSE1155,84,3,NaN,3,90,1.133333,1.493333,2.253333,NaN,24.653333,0.315556
AHSE1199,316,1,1,1,319,1.018809,0.111791,0.962736,3.925119,8.887501,0.043533
AHSE11BA,NaN,1,NaN,NaN,1,2.000000,NaN,0.000000,NaN,NaN,0.000000
AHSE1500,331,309,76,30,746,1.738606,180.573301,21.113005,120.924746,153.417099,0.638107
AHSE1515,166,15,23,7,211,1.388626,25.070955,5.606680,59.720132,47.734934,0.654657
AHSE1599,NaN,19,5,4,28,2.464286,NaN,4.095663,1.434949,9.433673,0.534439
AHSE2110,51,105,21,7,184,1.913043,42.516068,0.793951,24.810964,30.487713,0.535917
AHSE2112,5,13,32,28,78,3.064103,21.302597,14.720085,0.131492,24.525312,0.777942
...,...,...,...,...,...,...,...,...,...,...,...
ENG1510,11,10,4,NaN,25,1.720000,5.702400,0.784000,6.553600,NaN,0.521600
ENGR0097,74,190,126,107,497,2.535211,174.408649,54.425709,27.219599,229.579845,0.977130
ENGR0098,49,64,44,79,236,2.648305,133.128573,26.899167,5.442330,144.339252,1.312751
ENGR0098X,NaN,21,5,8,34,2.617647,NaN,8.011246,0.730969,15.287197,0.706747
ENGR1097,NaN,9,4,NaN,13,2.307692,NaN,0.852071,1.917160,NaN,0.213018
ENGR1110,832,1,2,NaN,835,1.005988,0.029833,0.988060,7.952168,NaN,0.010743
ENGR1120,453,26,NaN,NaN,479,1.054280,1.334670,23.254057,NaN,NaN,0.051333
ENGR1121,335,6,NaN,NaN,341,1.017595,0.103714,5.790714,NaN,NaN,0.017286
ENGR1125,169,NaN,2,NaN,171,1.023392,0.092473,NaN,7.813960,NaN,0.046236
ENGR1199,12,16,6,3,37,2.000000,12.000000,0.000000,6.000000,12.000000,0.810811
ENGR1199A,12,2,NaN,NaN,14,1.142857,0.244898,1.469388,NaN,NaN,0.122449
ENGR1200,999,NaN,NaN,NaN,999,1.000000,0.000000,NaN,NaN,NaN,0.000000
ENGR1330,NaN,13,56,3,72,2.861111,NaN,9.639660,1.080247,3.891204,0.202932
ENGR1510,99,2,NaN,NaN,101,1.019802,0.038820,1.921576,NaN,NaN,0.019410
ENGR2141,20,1,2,NaN,23,1.217391,0.945180,0.612476,6.355388,NaN,0.344045
ENGR2199,23,17,4,7,51,1.901961,18.711265,0.163399,4.822760,30.812380,1.068820
ENGR2199A,7,16,7,6,36,2.333333,12.444444,1.777778,3.111111,16.666667,0.944444
ENGR2199B,3,14,7,3,27,2.370370,5.633745,1.920439,2.775034,7.967078,0.677641
ENGR2199C,2,11,10,5,28,2.642857,5.397959,4.545918,1.275510,9.209184,0.729592
ENGR2210,87,701,126,28,942,2.100849,105.432611,7.129571,101.867479,100.989659,0.334840
ENGR2250,1,891,69,1,962,2.072765,1.150825,4.717627,59.323758,3.714234,0.071628
ENGR2299,NaN,2,1,4,7,3.285714,NaN,3.306122,0.081633,2.040816,0.775510
ENGR2320,3,199,67,13,282,2.319149,5.220462,20.269353,31.058397,36.728384,0.330768
ENGR2330,55,60,39,15,169,2.082840,64.489864,0.411750,32.806099,55.132523,0.904380
ENGR2340,5,134,91,28,258,2.550388,12.018509,40.592152,18.395769,58.838531,0.503275
ENGR2350,9,110,80,41,240,2.637500,24.132656,44.704688,10.512500,76.112656,0.647760
ENGR2410,10,296,61,10,377,2.188329,14.121256,10.498463,40.187407,32.821521,0.258962
ENGR2420,1,136,113,42,292,2.671233,2.793019,61.275286,12.213924,74.156127,0.515200
ENGR2420 L,NaN,42,34,17,93,2.731183,NaN,22.454388,2.456931,27.368251,0.562146
ENGR2510,344,245,74,27,690,1.686957,162.336786,24.009074,127.582155,144.454594,0.664323

In [17]:
#coursedf.to_csv('../data/classyearmeansd.csv', index = True)

In [23]:
#data = pd.read_csv('../data/classyearmeansd.csv')
#data.head()

,code,1,2,3,4,total_students,mean_grade,dev1.0,dev2.0,dev3.0,dev4.0,standard_dev
0,AHS CAP SPR,NaN,NaN,NaN,30,30,4.000,NaN,NaN,NaN,0,0.000000
1,AHS1101,46,NaN,NaN,NaN,46,1.000,0.00000,NaN,NaN,NaN,0.000000
2,AHS1102,50,NaN,NaN,NaN,50,1.000,0.00000,NaN,NaN,NaN,0.000000
3,AHS1105,10,6,NaN,NaN,16,1.375,1.40625,2.34375,NaN,NaN,0.234375
4,AHS1110,28,4,NaN,NaN,32,1.125,0.43750,3.06250,NaN,NaN,0.109375

In [24]:
#columns = ['code','1','2','3','4','total_students','mean_grade','standard_dev']
#data = data[columns]
#data.head()

          code   1   2   3   4  total_students  mean_grade  standard_dev
0  AHS CAP SPR NaN NaN NaN  30              30       4.000      0.000000
1      AHS1101  46 NaN NaN NaN              46       1.000      0.000000
2      AHS1102  50 NaN NaN NaN              50       1.000      0.000000
3      AHS1105  10   6 NaN NaN              16       1.375      0.234375
4      AHS1110  28   4 NaN NaN              32       1.125      0.109375

In [26]:
#data = pd.read_csv('../data/classyearmeansd.csv')
#data.head()