In [67]:
import pandas as pd

data = pd.read_csv('../data/registrations.csv')

In [68]:
def grade(gr):
    if gr == 'FR':
        return 1
    elif gr == 'SO':
        return 2
    elif gr == 'SP':
        return 2
    elif gr == 'JR':
        return 3
    elif gr == 'SR':
        return 4
    else:
        print gr
        print 'grade error ???'
        
data['numgrade'] = data['grade'].apply(grade)

GR
grade error ???
XR
grade error ???
GR
grade error ???

In [69]:
data.head()

,studentid,semester,grade,major,concentration,code,section,coursetitle,sectiontitle,professor,course-sectiontitle,code-semester,Unnamed: 0,coursetype,numgrade
0,30876146,0708FA,SR,Engineering,Computing,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Lynch, Caitrin",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0708FA,247,NaN,4
1,23925034,0607FA,SR,Engineering,Bioengineering,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
2,99052948,0607FA,SR,Electr'l & Computer Engr,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
3,29826367,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
4,91614816,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4

In [70]:
courses = data.groupby('code')

In [71]:
coursed = {}
for course in courses:
    coursed[course[0]] = course[1].numgrade.value_counts()

coursedf = pd.DataFrame(coursed)
coursedf = coursedf.transpose()
coursedf.head()

              1   2   3   4
AHS CAP SPR NaN NaN NaN  30
AHS1101      46 NaN NaN NaN
AHS1102      50 NaN NaN NaN
AHS1105      10   6 NaN NaN
AHS1110      28   4 NaN NaN

In [93]:
import math
def nan(value):
    if math.isnan(value):
        return 0
    else:
        return value

def nan_subtract(numgradeval, meanval):
    if math.isnan(numgradeval):
        return 0
    else:
        return numbradeval - meanval
    
coursedf['total_students'] = (coursedf[1.0].apply(nan) + coursedf[2.0].apply(nan) 
                              + coursedf[3.0].apply(nan) + coursedf[4.0].apply(nan))
coursedf['mean_grade'] = (coursedf[1.0].apply(nan) + 2*coursedf[2.0].apply(nan) 
                          + 3*coursedf[3.0].apply(nan) + 4*coursedf[4.0].apply(nan))/coursedf['total_students']

coursedf['dev1.0'] = (1.0-coursedf['mean_grade'])**2 * coursedf[1.0]
coursedf['dev2.0'] = (2.0-coursedf['mean_grade'])**2 * coursedf[2.0]
coursedf['dev3.0'] = (3.0-coursedf['mean_grade'])**2 * coursedf[3.0]
coursedf['dev4.0'] = (4.0-coursedf['mean_grade'])**2 * coursedf[4.0]


coursedf['standard_dev'] = (coursedf['dev1.0'].apply(nan) 
                            + coursedf['dev2.0'].apply(nan) 
                            + coursedf['dev3.0'].apply(nan) + 
                            coursedf['dev4.0'].apply(nan))/(coursedf['total_students'])


coursedf.head(100)

,1.0,2.0,3.0,4.0,total_students,mean_grade,standard_dev,dev1.0,dev2.0,dev3.0,dev4.0
AHS CAP SPR,NaN,NaN,NaN,30,30,4.000000,0.000000,NaN,NaN,NaN,0.000000
AHS1101,46,NaN,NaN,NaN,46,1.000000,0.000000,0.000000,NaN,NaN,NaN
AHS1102,50,NaN,NaN,NaN,50,1.000000,0.000000,0.000000,NaN,NaN,NaN
AHS1105,10,6,NaN,NaN,16,1.375000,0.234375,1.406250,2.343750,NaN,NaN
AHS1110,28,4,NaN,NaN,32,1.125000,0.109375,0.437500,3.062500,NaN,NaN
AHS1111,8,3,1,NaN,12,1.416667,0.409722,1.388889,1.020833,2.506944,NaN
AHS1120,18,4,NaN,NaN,22,1.181818,0.148760,0.595041,2.677686,NaN,NaN
AHS1122,9,6,NaN,NaN,15,1.400000,0.240000,1.440000,2.160000,NaN,NaN
AHS1130,18,2,NaN,NaN,20,1.100000,0.090000,0.180000,1.620000,NaN,NaN
AHS1140,7,NaN,NaN,NaN,7,1.000000,0.000000,0.000000,NaN,NaN,NaN
AHS1150,23,5,1,NaN,29,1.241379,0.252081,1.340071,2.877527,3.092747,NaN
AHS2110,NaN,22,NaN,NaN,22,2.000000,0.000000,NaN,0.000000,NaN,NaN
AHSE0112,155,94,53,53,355,2.011268,1.182972,158.512636,0.011934,51.812363,209.617996
AHSE1100,180,1,1,NaN,182,1.016484,0.027201,0.048907,0.967305,3.934338,NaN
AHSE1101,25,NaN,NaN,NaN,25,1.000000,0.000000,0.000000,NaN,NaN,NaN
AHSE1102,27,NaN,NaN,NaN,27,1.000000,0.000000,0.000000,NaN,NaN,NaN
AHSE1122,165,2,NaN,1,168,1.029762,0.064590,0.146152,1.882724,NaN,8.822314
AHSE1130,49,1,1,NaN,51,1.058824,0.094579,0.169550,0.885813,3.768166,NaN
AHSE1135,25,1,NaN,NaN,26,1.038462,0.036982,0.036982,0.924556,NaN,NaN
AHSE1140,37,NaN,NaN,NaN,37,1.000000,0.000000,0.000000,NaN,NaN,NaN
AHSE1145,52,1,NaN,NaN,53,1.018868,0.018512,0.018512,0.962620,NaN,NaN
AHSE1150,41,2,NaN,NaN,43,1.046512,0.044348,0.088697,1.818280,NaN,NaN
AHSE1155,84,3,NaN,3,90,1.133333,0.315556,1.493333,2.253333,NaN,24.653333
AHSE1199,316,1,1,1,319,1.018809,0.043533,0.111791,0.962736,3.925119,8.887501
AHSE11BA,NaN,1,NaN,NaN,1,2.000000,0.000000,NaN,0.000000,NaN,NaN
AHSE1500,331,309,76,30,746,1.738606,0.638107,180.573301,21.113005,120.924746,153.417099
AHSE1515,166,15,23,7,211,1.388626,0.654657,25.070955,5.606680,59.720132,47.734934
AHSE1599,NaN,19,5,4,28,2.464286,0.534439,NaN,4.095663,1.434949,9.433673
AHSE2110,51,105,21,7,184,1.913043,0.535917,42.516068,0.793951,24.810964,30.487713
AHSE2112,5,13,32,28,78,3.064103,0.777942,21.302597,14.720085,0.131492,24.525312
...,...,...,...,...,...,...,...,...,...,...,...
ENG1510,11,10,4,NaN,25,1.720000,0.521600,5.702400,0.784000,6.553600,NaN
ENGR0097,74,190,126,107,497,2.535211,0.977130,174.408649,54.425709,27.219599,229.579845
ENGR0098,49,64,44,79,236,2.648305,1.312751,133.128573,26.899167,5.442330,144.339252
ENGR0098X,NaN,21,5,8,34,2.617647,0.706747,NaN,8.011246,0.730969,15.287197
ENGR1097,NaN,9,4,NaN,13,2.307692,0.213018,NaN,0.852071,1.917160,NaN
ENGR1110,832,1,2,NaN,835,1.005988,0.010743,0.029833,0.988060,7.952168,NaN
ENGR1120,453,26,NaN,NaN,479,1.054280,0.051333,1.334670,23.254057,NaN,NaN
ENGR1121,335,6,NaN,NaN,341,1.017595,0.017286,0.103714,5.790714,NaN,NaN
ENGR1125,169,NaN,2,NaN,171,1.023392,0.046236,0.092473,NaN,7.813960,NaN
ENGR1199,12,16,6,3,37,2.000000,0.810811,12.000000,0.000000,6.000000,12.000000
ENGR1199A,12,2,NaN,NaN,14,1.142857,0.122449,0.244898,1.469388,NaN,NaN
ENGR1200,999,NaN,NaN,NaN,999,1.000000,0.000000,0.000000,NaN,NaN,NaN
ENGR1330,NaN,13,56,3,72,2.861111,0.202932,NaN,9.639660,1.080247,3.891204
ENGR1510,99,2,NaN,NaN,101,1.019802,0.019410,0.038820,1.921576,NaN,NaN
ENGR2141,20,1,2,NaN,23,1.217391,0.344045,0.945180,0.612476,6.355388,NaN
ENGR2199,23,17,4,7,51,1.901961,1.068820,18.711265,0.163399,4.822760,30.812380
ENGR2199A,7,16,7,6,36,2.333333,0.944444,12.444444,1.777778,3.111111,16.666667
ENGR2199B,3,14,7,3,27,2.370370,0.677641,5.633745,1.920439,2.775034,7.967078
ENGR2199C,2,11,10,5,28,2.642857,0.729592,5.397959,4.545918,1.275510,9.209184
ENGR2210,87,701,126,28,942,2.100849,0.334840,105.432611,7.129571,101.867479,100.989659
ENGR2250,1,891,69,1,962,2.072765,0.071628,1.150825,4.717627,59.323758,3.714234
ENGR2299,NaN,2,1,4,7,3.285714,0.775510,NaN,3.306122,0.081633,2.040816
ENGR2320,3,199,67,13,282,2.319149,0.330768,5.220462,20.269353,31.058397,36.728384
ENGR2330,55,60,39,15,169,2.082840,0.904380,64.489864,0.411750,32.806099,55.132523
ENGR2340,5,134,91,28,258,2.550388,0.503275,12.018509,40.592152,18.395769,58.838531
ENGR2350,9,110,80,41,240,2.637500,0.647760,24.132656,44.704688,10.512500,76.112656
ENGR2410,10,296,61,10,377,2.188329,0.258962,14.121256,10.498463,40.187407,32.821521
ENGR2420,1,136,113,42,292,2.671233,0.515200,2.793019,61.275286,12.213924,74.156127
ENGR2420 L,NaN,42,34,17,93,2.731183,0.562146,NaN,22.454388,2.456931,27.368251
ENGR2510,344,245,74,27,690,1.686957,0.664323,162.336786,24.009074,127.582155,144.454594