# Generating Graphs Based upon Mean and SD

Mean and SD are statistically significant so we want to provide the user with some statistical information to guide them through their decision making process.

Standard imports

In [1]:
import pandas as pd
import numpy as np


# Import needed for cs Exploration and Algorithm Developing\

# Import Useful for plotting
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
import seaborn as sns
from sklearn import preprocessing


cs = pd.read_csv('../data/course-semesters.csv')
stu = pd.read_csv('../data/student0216.csv')
regis = pd.read_csv('../data/registrations.csv')

/home/tj/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
stu.head()

,studentid,entranceyear,finalyear,majors,concentrations,finalmajor,finalconcentration,finalmajor_full,code-semester,me,ece,design,cs,bio
0,10136845,2013,2016,['Undeclared' 'Mechanical Engineering'],[nan],Mechanical Engineering,NaN,Mechanical Engineering,['AHSE1145 1314FA' 'AHSE2141 1314SP' '...,6,1,4,3,1
1,10191843,2014,2015,['Undeclared'],[nan],Undeclared,NaN,Undeclared,['AHSE1145 1415FA' 'AHSE1515 1415SP' '...,3,1,2,1,0
2,10208842,2014,2016,['Undeclared' 'Engineering'],['Computing'],Engineering,Computing,Engineering Computing,['AHSE1199 1415FA' 'AHSE1515 1415SP' '...,0,2,2,3,0
3,10324389,2007,2011,['Undeclared' 'Engineering'],['Self Designed'],Engineering,Self Designed,Engineering Self Designed,['AHSE1199 0708FA' 'AHSE1500 0809FA' '...,2,2,6,1,3
4,10463379,2003,2007,"['Undeclared' ""Electr'l & Computer Engr"" 'Mech...",[nan],Mechanical Engineering,NaN,Mechanical Engineering,['AHS1101 0304FA' 'AHS1111 0304SP' '...,7,2,3,1,0

In [3]:
cs.head()

,code-semester,code,semester,name,prof,redundant_codes,prereqs,student_ids
0,AHS CAP SPR 0607FA,AHS CAP SPR,0607FA,AHS CapstoneSpring Pre-registration,"Martello, Robert",[],[],"[23925034, 99052948, 29826367, 91614816, 95699..."
1,AHS CAP SPR 0708FA,AHS CAP SPR,0708FA,AHS CapstoneSpring Pre-registration,"Lynch, Caitrin",[],[],"[30876146, 98014488, 67373835, 67291012, 84935..."
2,AHS1101 0203FA,AHS1101,0203FA,History and Society Bodies in Motion: Migratio...,"Fleischmann, Fritz",[],[],"[39854219, 16495441, 74816072, 85835441, 28902..."
3,AHS1101 0304FA,AHS1101,0304FA,History and Society Bodies in Motion: Migratio...,"Fleischmann, Fritz",[],[],"[42715736, 29826367, 10463379, 22502956, 91614..."
4,AHS1102 0203FA,AHS1102,0203FA,Arts and Humanities The Quest,"Tropp, Martin",[],[],"[41057699, 96482981, 16062888, 59108778, 39329..."

In [4]:
regis.head()

,studentid,semester,grade,major,concentration,code,section,coursetitle,sectiontitle,professor,course-sectiontitle,code-semester,Unnamed: 0,coursetype
0,30876146,0708FA,SR,Engineering,Computing,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Lynch, Caitrin",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0708FA,247,NaN
1,23925034,0607FA,SR,Engineering,Bioengineering,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN
2,99052948,0607FA,SR,Electr'l & Computer Engr,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN
3,29826367,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN
4,91614816,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN

In [5]:
# Checking total number of unique cs in each column of cs set
print 'total no. of cases: ', len(cs)
for field in cs:
    if field in ['Id']:
        continue
    else:
        print 'no. of unique cs in ' + field + ':', len(cs[field].unique())

total no. of cases:  1614
no. of unique cs in code-semester: 1614
no. of unique cs in code: 306
no. of unique cs in semester: 28
no. of unique cs in name: 490
no. of unique cs in prof: 135
no. of unique cs in redundant_codes: 1
no. of unique cs in prereqs: 1
no. of unique cs in student_ids: 1501

In [9]:
def grade(gr):
    if gr == 'FR':
        return 1
    elif gr == 'SO':
        return 2
    elif gr == 'SP':
        return 2
    elif gr == 'JR':
        return 3
    elif gr == 'SR':
        return 4
    else:
        print gr
        print 'grade error ???'
        
regis['numgrade'] = regis['grade'].apply(grade)

GR
grade error ???
XR
grade error ???
GR
grade error ???

In [10]:
regis.head()

,studentid,semester,grade,major,concentration,code,section,coursetitle,sectiontitle,professor,course-sectiontitle,code-semester,Unnamed: 0,coursetype,numgrade
0,30876146,0708FA,SR,Engineering,Computing,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Lynch, Caitrin",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0708FA,247,NaN,4
1,23925034,0607FA,SR,Engineering,Bioengineering,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
2,99052948,0607FA,SR,Electr'l & Computer Engr,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
3,29826367,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4
4,91614816,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN,4

In [ ]:
# # editing regis data to add year

# def add_year(regis):
#     regis['numgrade'] = 0
#     for i in range(len(regis)):
#         a = 0
        
#         if regis['grade'][i] == 'FR':
#             a = 1
#             if regis['semester'][i][-2:] == 'SP':
#                 a = 1.5
#             else:
#                 pass
#         elif regis['grade'][i] == 'SO':
#             a = 2
#             if regis['semester'][i][-2:] == 'SP':
#                 a = 2.5
#             else:
#                 pass
#         elif regis['grade'][i] == 'JR':
#             a = 3
#             if regis['semester'][i][-2:] == 'SP':
#                 a = 3.5
#             else:
#                 pass
#         elif regis['grade'][i] == 'SR':
#             a = 4
#             if regis['semester'][i][-2:] == 'SP':
#                 a = 4.5
#             else:
#                 pass
            
#         regis['numgrade'][i] = a
        
# regis = add_year(regis)

In [ ]:
regis.to_csv('../data/registrations.csv', index=False)

## Functions for Determining Mean and SD for Class ver student years

In [17]:
def edit_course_names_in_csframe(cs):
    """
    Rids of repetitive courses with alphabet in the end
    """
    for i in range(len(cs['code'])):
        if cs['code'][i][-1].isalpha():
            if cs['code'][i][-1] is 'R':
                pass
            else:
                cs['code'][i] = cs['code'][i][0:-1]
        else:
            pass
    return cs['code']

def list_all_courses(cs):
    """
    Works for the course-semester.csv csset
    finds mean number of students and standard deviation for each course
    throughout the years
    """
    course_cs = edit_course_names_in_csframe(cs)
    holder = []
    for i in range(len(cs)):
        if cs['code'][i] not in holder:
            holder += [cs['code'][i]]
        else:
            continue
    return holder        

def dict_code_index(cs):
    """
    generates dictionary linking each course to index in csv
    """
    cs2 = cs
    cs2['code'] = edit_course_names_in_csframe(cs)
    dict_code_index = {}
    for i in range(len(cs2['code'])):
        if cs2['code'][i] in dict_code_index:
            dict_code_index[cs2['code'][i]] = dict_code_index[cs2['code'][i]] + [i]
        else:
            dict_code_index[cs2['code'][i]] = [i]
    return dict_code_index

def grab_year(cs, stu, regis):
    """
    Grabs mean year of students for each class
    """
    cs2 = cs.copy()
    stu2 = stu.copy()
    regis2 = regis.copy()
    code_index = dict_code_index(cs)
    dict_grab_year = {}
    for key in code_index:
        mean = 0
        for index in code_index[key]:
            for student in cs2['student_ids'][index][1:-1].split(', '):
                
                
grab_year(cs,stu,regis)
    
def dict_code_mean(cs):
    """
    Generates dictionary linking each course to mean num of students
    """
    cs2 = cs
    code_index = dict_code_index(cs2)
    dict_code_mean = {}
    
    for key in code_index:
        a = float(0)
        for index in code_index[key]:
            a += len(cs2['student_ids'][index][1:-1].split(', '))
        dict_code_mean[key] = a/len(code_index[key])
    return dict_code_mean

from math import sqrt

def dict_code_sd(cs):
    cs2 = cs
    code_mean = dict_code_mean(cs2)
    code_index = dict_code_index(cs2)
    
    dict_code_sd = {}
    
    for key in code_index:
        a = float(0)
        for index in code_index[key]:
            a += (len(cs2['student_ids'][index][1:-1].split(', ')) - code_mean[key])**2
        dict_code_sd[key] = sqrt(a/len(code_index[key]))
    
    return dict_code_sd

AHS1110
AHS1111
ENGR3220
ENGR2299
SCI1210
MTH0097
ENGR2340
ENGR3599
MTH0098
ENGR4290
SEM 201
MTH3198
SCI1098
SEM 501
ENGR3830
AHSE0112
AHSE1101
AHSE1100
AHSE1102
SCI2299
ENGR3425
MTH1097
ENGR3427
ELE1010
ENGR3420
SCI3120
ENGR4198
ENGR4199
SCI2130
ENGR2599
MEC1000
SCI4198
MTH2199
SEM 103
SEM 102
SEM 101
SCI1120
ENGR2141
ELE1020
CD1097
ENGR3525
SUST3301
FND1410
ENGR3199
ENGR0097
ENGR0098
SCI2320
AHS1120
AHS1122
FND1310
AHSE4590
FND1312
ENGR3299
MTH3160
AHSE4598
ENGR3290
SCI2399
ENGR3899
SCI3098
SCI1111
SCI1110
SEM 502
SCI1410
ENGR3699
AHSE2170
ENGR3450
ENGR2210
ENGR3415
ENGR3345
ENGR3610
ISR1100
ENGR3340
SCI2140
ENGR1097
MTH3150
MEC2910
FND2350
AHS1130
ENGR1330
MTH2110
FND2510
E! CAP SPR
SCI2214
FND2610
ISR0097
AHSE3599
ENGR2620
MTH3170
AHSE3190
ENGR3355
AHSE3510
AHSE3199
ENGR3440
ENGR3110
ECE2910
SCI2099
ENGR3600
ENGR3350
ENGR4190
MTH3140
AHS2110
BAB5001
ENGR2410
MTH1111
MTH1110
ISR2900
FND1311
AHSE3100
ENGR3710
ENGR3098
AHSE1150
ENGR3426
MTH2310
AHSE1155
SCI1310
SCI2145
MTH2150
AHS1140
AWAY1000
SEM 303
SEM 503
AHSE2199
AHSE3500
ELE1025
ISR1900
AHSE2112
MEC1915
AHSE2110
SCI0098
AHSE2114
MTH3199
AHSE3130
SCI3210
ENGR3140
ENGR2320
AHSE1599
ENGR3499
FND1510
AHSE1145
SCI1097
ISR4198
FND1220
AHSE1140
MTH3130
ENGR3380
MTH2120
AHS1150
AHSE1515
ENGR3540
SEM 301
SCI3110
SEM 302
BAB1001
SEM 105
MTH1000
FND1420
SEM 104
ENGR3370
SCI2320
ISR1030
ENGR3270
AHSE2120
ELE1050
MTH4198
ENGR3640
SCI1121
ENGR3310
MTH2160
MTH2220
ENGR2330
FND2240
FND1210
ENG1510
SCI1310
MTH3120
ENGR3330
MTH2130
ENGR3392
MTH2132
ENGR3390
AHSE1500
MTH2131
SCI1210
AHSE1130
SUST2201
ENGR3590
AHSE1135
FND1320
ENGR3335
ENGR3410
OIE1000
AHSE2131
AHSE2130
ELE2715
ENGR2250
ENGR2420
SCI2210
ELE2710
ENGR3260
AHSE4199
AHSE4198
FND2410
FND2411
ENGR3630
ENGR3320
SCI2199
AHSE4190
ENGR1199
ENGR3810
FND2710
ENGR3812
SCI3199
AHS CAP SPR
SEM 402
ENGR1110
CIE2016
SCI2110
AHSE1122
SEM 401
ENGR3210
SCI3320
ISR1500
ISR1300
ENGR3520
ISR1020
ENGR3250
ENGR3530
AHSE2140
AHSE2141
ENGR3820
MTH2140
SCI10
ISR0098
SCI0097
MTH2188
AHS1102
AHS1101
ENGR1200
ENGR2350
AHS1105
ENGR3620
ENGR2699
ELE1090
MTH2210
SCI2032
SCI2220
SCI3130
ENGR2199
ENGR1125
ISR1200
ENGR1120
ENGR1121
ENGR3430
SCI1130
OIP1000
ICB2
ICB1
ENGR3399
MTH1120
AHSE11
ENGR3531
ENGR2510
ENGR3240
AHSE1199
SCI1199
FND2490
ENGR2420
ENGR1510

In [26]:
type(stu['studentid'][1])

numpy.int64