### Create professor csv file in the form

|name|code-semester|department|
|--|--|--|
|Zastavker, Yevgeniya|[FND1210, ]|ECE|

In [91]:
import pandas as pd
data = pd.read_csv('../data/olincourseenrollment0214.csv')

In [92]:
grouped = data.groupby('professor')

In [93]:
from collections import OrderedDict
professord = OrderedDict()

columns =  ['name', 
            'code-semester']

for column in columns:
    professord[column] = []

In [94]:
for group in grouped:
    professord['name'].append(group[0])
    professord['code-semester'].append(group[1]['code-semester'].unique())

In [95]:
professor = pd.DataFrame(professord)

In [96]:
professor.head()

                   name                                      code-semester
0         Abbas, Hassan  [AHSE2199A 0607SP, AHSE2199 0708SP, AHSE1199 0...
1   Adams, Sarah Spence  [FND1310 0203FA, FND1311 0203FA, FND1320 0203S...
2       Adler, Jonathan  [AHSE2199A 0910SP, AHSE0197 0910FA, AHSE4198 0...
3  Allen, Isabel Elaine                   [FND2410 0304FA, BAB5001 0405SP]
4       Anderson, David  [MEC1000 0607FA, ENGR1200 0405FA, ENGR2210 050...

In [101]:
semesters = data['semester'].unique()
semesters.sort()
print semesters

['0203FA' '0203SP' '0304FA' '0304SP' '0405FA' '0405SP' '0506FA' '0506SP'
 '0607FA' '0607SP' '0708FA' '0708SP' '0809FA' '0809SP' '0910FA' '0910SP'
 '1011FA' '1011SP' '1112FA' '1112SP' '1213FA' '1213SP' '1314FA' '1314SP']

In [102]:
def year(semesters):
    start_sem = 0
    end_sem = 0
    semlist = []
    for semester in semesters:
        semlist.append(semester[-6:])
    semlist.sort()
    return semlist[0]+semlist[-1]

def start_year(sem):
    return sem[0:6]

def end_year(sem):
    if sem[-6:] == "1314SP":
        return 
    return sem[-6:]

professor['sem'] = professor['code-semester'].apply(year)
professor['start_sem'] = professor['sem'].apply(start_year)
professor['end_sem'] = professor['sem'].apply(end_year)

In [103]:
del professor['sem']
professor.head()

,name,code-semester,start_sem,end_sem
0,"Abbas, Hassan","[AHSE2199A 0607SP, AHSE2199 0708SP, AHSE1199 0...",0607SP,0708SP
1,"Adams, Sarah Spence","[FND1310 0203FA, FND1311 0203FA, FND1320 0203S...",0203FA,1314FA
2,"Adler, Jonathan","[AHSE2199A 0910SP, AHSE0197 0910FA, AHSE4198 0...",0910FA,None
3,"Allen, Isabel Elaine","[FND2410 0304FA, BAB5001 0405SP]",0304FA,0405SP
4,"Anderson, David","[MEC1000 0607FA, ENGR1200 0405FA, ENGR2210 050...",0405FA,1213SP

In [104]:
professor.to_excel('../data/professor.xlsx', index=False)