### Create student csv file in the form

|id  | sex | entrance_year | grad_class | final_major         | final_major_main | final_major_sub | code_semester           |
|----|-----|---------------|------------|---------------------|------------------|-----------------|-------------------------|
|000 | F/M | 2003          | 2007       | Engineering Robotics| Engineering      | Robotics        | ['FND1210 0304FA', ...] |

|studentid|entranceyear|finalyear|majors|concentrations|finalmajor|finalconcentration|code-semester|Capstone
|--|--|--|--|--|--|--|--|--|
|00000000|2002|2006|[Undeclared, Engineering]|[Design]|Engineering|Design|['AHS0000 0203FA', ...]|ADE|

In [23]:
import pandas as pd
data = pd.read_csv('../data/registrations.csv')

In [24]:
data.head()

,studentid,semester,grade,major,concentration,code,section,coursetitle,sectiontitle,professor,course-sectiontitle,code-semester,Unnamed: 0,coursetype
0,30876146,0708FA,SR,Engineering,Computing,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Lynch, Caitrin",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0708FA,247,NaN
1,23925034,0607FA,SR,Engineering,Bioengineering,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN
2,99052948,0607FA,SR,Electr'l & Computer Engr,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN
3,29826367,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN
4,91614816,0607FA,SR,Mechanical Engineering,NaN,AHS CAP SPR,1,AHS CapstoneSpring Pre-registration,NaN,"Martello, Robert",AHS CapstoneSpring Pre-registration,AHS CAP SPR 0607FA,247,NaN

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34732 entries, 0 to 34731
Data columns (total 14 columns):
studentid              34732 non-null int64
semester               34732 non-null object
grade                  34732 non-null object
major                  34732 non-null object
concentration          13268 non-null object
code                   34732 non-null object
section                34732 non-null object
coursetitle            34732 non-null object
sectiontitle           4930 non-null object
professor              32476 non-null object
course-sectiontitle    34732 non-null object
code-semester          34732 non-null object
Unnamed: 0             34732 non-null int64
coursetype             15902 non-null object
dtypes: int64(2), object(12)
memory usage: 4.0+ MB

In [26]:
import string

major_fullnames = []
for index, registration in data.iterrows():
    major = string.strip(str(registration.major))
    
    concentration = ""
    if type(registration.concentration) == str:
        concentration = string.strip(str(registration.concentration))
        
    major_fullname = string.strip(major + " " + concentration)
    major_fullnames.append(major_fullname)
    
data['major_fullname'] = major_fullnames

In [27]:
def semester_year(semester):
    fs = semester[4:6]
    if fs == 'FA':
        year = semester[:2]
    elif fs == 'SP':
        year = semester[2:4]
    return int(year)

data['term'] = data['semester'].str[4:6]
data['year'] = data['semester'].apply(semester_year)

In [28]:
def semester_year(year):
    semyear = 2000 + int(year)
    return semyear

def me(coursetype):
    if coursetype == 'me':
        return 1
    else:
        return 0

def ece(coursetype):
    if coursetype == 'ece':
        return 1
    else:
        return 0
    
def cs(coursetype):
    if coursetype == 'cs':
        return 1
    else:
        return 0
    
def design(coursetype):
    if coursetype == 'design':
        return 1
    else:
        return 0

def bio(coursetype):
    if coursetype == 'bio':
        return 1
    else:
        return 0

data['semester_year'] = data['year'].apply(semester_year)
data['me'] = data['coursetype'].apply(me)
data['ece'] = data['coursetype'].apply(ece)
data['cs'] = data['coursetype'].apply(cs)
data['design'] = data['coursetype'].apply(design)
data['bio'] = data['coursetype'].apply(bio)

In [29]:
# studentd = {'id':[],
#             'sex':[], 
#             'entrance_year':[], 
#             'grad_class': [], 
#             'final_major': [], 
#             'final_major_main': [], 
#             'final_major_sub': [], 
#             'code-semester':[]}

# tag = 0
# studenttag = -1
# for i in data.index:
#     if data['id'][i] not in studentd['id']:
#         if tag == i-1:
#             studentd['grad_class'].append(data['grad_class'][i-1])
#             studentd['final_major'].append(data['major_fullname'][i-1])
#             studentd['final_major_main'].append(data['major_main'][i-1])
#             studentd['final_major_sub'].append(data['major_sub'][i-1])
#         else:
#             studentd['id'].append(data['id'][i])
#             studentd['sex'].append(data['sex'][i])
#             studentd['entrance_year'].append(data['semester_year'][i])
#             studentd['code-semester'].append([data['code-semester'][i]])
#             studenttag += 1
#     else:
#         tag = i
#         studentd['code-semester'][studenttag].append(data['code-semester'][i])

# studentd['grad_class'].append(data['grad_class'][len(data)-1])
# studentd['final_major'].append(data['major_fullname'][len(data)-1])
# studentd['final_major_main'].append(data['major_main'][len(data)-1])
# studentd['final_major_sub'].append(data['major_sub'][len(data)-1])

In [30]:
studentd = {'studentid':[],
            'entranceyear':[],
            'finalyear':[],
            'majors': [], 
            'concentrations': [],
            'major-fullnames': [],
            'code':[],
            'code-semester':[], 
            'me':[],'ece':[],'cs':[],'design':[],'bio':[]}

grouped = data.groupby('studentid')
for group in grouped:
    studentd['studentid'].append(group[0])
    studentd['code'].append(group[1]['code'].unique())
    studentd['code-semester'].append(group[1]['code-semester'].unique())
    studentd['majors'].append(group[1]['major'].unique())
    studentd['concentrations'].append(group[1]['concentration'].unique())
    studentd['major-fullnames'].append(group[1]['major_fullname'].unique())
    studentd['entranceyear'].append(min(group[1]['semester_year'].unique()))
    studentd['finalyear'].append(max(group[1]['semester_year'].unique()))
    studentd['me'].append(group[1]['me'].sum())
    studentd['ece'].append(group[1]['ece'].sum())
    studentd['cs'].append(group[1]['cs'].sum())
    studentd['design'].append(group[1]['design'].sum())
    studentd['bio'].append(group[1]['bio'].sum())

In [48]:
student = pd.DataFrame(studentd)

In [49]:
def last_element(element):
    return element[-1]

def capstone(codes):
    if 'ENGR4199' in codes:
        return 'ADE'
    elif 'ENGR4290' in codes:
        return 'ADE'
    elif 'ENGR4190' in codes:
        return 'SCOPE'
    else:
        return

student['capstone'] = student['code'].apply(capstone)
student['finalmajor'] = student['majors'].apply(last_element)
student['finalconcentration'] = student['concentrations'].apply(last_element)

In [50]:
student.head()

,bio,code,code-semester,concentrations,cs,design,ece,entranceyear,finalyear,major-fullnames,majors,me,studentid,capstone,finalmajor,finalconcentration
0,1,"[AHSE1145, AHSE2141, AHSE2199A, ENGR1110, ENGR...","[AHSE1145 1314FA, AHSE2141 1314SP, AHS...",[nan],3,4,1,2013,2016,"[Undeclared, Mechanical Engineering]","[Undeclared, Mechanical Engineering]",6,10136845,None,Mechanical Engineering,NaN
1,0,"[AHSE1145, AHSE1515, ENGR1125, ENGR1200, ENGR2...","[AHSE1145 1415FA, AHSE1515 1415SP, ENG...",[nan],1,2,1,2014,2015,[Undeclared],[Undeclared],3,10191843,None,Undeclared,NaN
2,0,"[AHSE1199, AHSE1515, ENGR0097, ENGR1125, ENGR1...","[AHSE1199 1415FA, AHSE1515 1415SP, ENG...",[Computing],3,2,2,2014,2016,"[Undeclared Computing, Engineering Computing]","[Undeclared, Engineering]",0,10208842,None,Engineering,Computing
3,3,"[AHSE1199, AHSE1500, AHSE2199, AHSE3510, AHSE4...","[AHSE1199 0708FA, AHSE1500 0809FA, AHS...",[Self Designed],1,6,2,2007,2011,"[Undeclared Self Designed, Engineering Self De...","[Undeclared, Engineering]",2,10324389,ADE,Engineering,Self Designed
4,0,"[AHS1101, AHS1111, AHSE1500, AHSE2199, AHSE219...","[AHS1101 0304FA, AHS1111 0304SP, AHS...",[nan],1,3,2,2003,2007,"[Undeclared, Electr'l & Computer Engr, Mechani...","[Undeclared, Electr'l & Computer Engr, Mechani...",7,10463379,SCOPE,Mechanical Engineering,NaN

In [51]:
import numpy as np
for i in student.index:
    if student.finalmajor[i][0:11] == 'Engineering':
        pass
    else:
        student.finalconcentration[i] = np.nan

/home/jkim/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
def ignan(conc):
    if type(conc) == type(np.nan):
        return ''
    else:
        return ' '+conc
    
student['finalmajor_full'] = student['finalmajor']+student['finalconcentration'].apply(ignan)

In [54]:
columns = ['studentid','entranceyear','finalyear','capstone',
           'majors','concentrations','finalmajor','finalconcentration','finalmajor_full',
           'code-semester','me','ece','design','cs','bio']
student = student[columns]

In [55]:
student.to_csv('../data/student.csv', index = False)
student.head(10)

,studentid,entranceyear,finalyear,capstone,majors,concentrations,finalmajor,finalconcentration,finalmajor_full,code-semester,me,ece,design,cs,bio
0,10136845,2013,2016,None,"[Undeclared, Mechanical Engineering]",[nan],Mechanical Engineering,NaN,Mechanical Engineering,"[AHSE1145 1314FA, AHSE2141 1314SP, AHS...",6,1,4,3,1
1,10191843,2014,2015,None,[Undeclared],[nan],Undeclared,NaN,Undeclared,"[AHSE1145 1415FA, AHSE1515 1415SP, ENG...",3,1,2,1,0
2,10208842,2014,2016,None,"[Undeclared, Engineering]",[Computing],Engineering,Computing,Engineering Computing,"[AHSE1199 1415FA, AHSE1515 1415SP, ENG...",0,2,2,3,0
3,10324389,2007,2011,ADE,"[Undeclared, Engineering]",[Self Designed],Engineering,Self Designed,Engineering Self Designed,"[AHSE1199 0708FA, AHSE1500 0809FA, AHS...",2,2,6,1,3
4,10463379,2003,2007,SCOPE,"[Undeclared, Electr'l & Computer Engr, Mechani...",[nan],Mechanical Engineering,NaN,Mechanical Engineering,"[AHS1101 0304FA, AHS1111 0304SP, AHS...",7,2,3,1,0
5,10478316,2011,2015,SCOPE,"[Undeclared, Mechanical Engineering]",[nan],Mechanical Engineering,NaN,Mechanical Engineering,"[AHSE1100 1112FA, AHSE1500 1314SP, AHS...",9,2,3,0,0
6,10510869,2008,2012,SCOPE,"[Undeclared, Engineering]",[Bioengineering],Engineering,Bioengineering,Engineering Bioengineering,"[AHSE1100 0809FA, AHSE1500 1011SP, AHS...",1,3,3,1,3
7,10543230,2009,2013,ADE,"[Undeclared, Mechanical Engineering]",[nan],Mechanical Engineering,NaN,Mechanical Engineering,"[AHSE1199 0910FA, AHSE1500 1011FA, AHS...",6,1,5,1,0
8,10585887,2004,2008,SCOPE,"[Undeclared, Engineering]",[Bioengineering],Engineering,Bioengineering,Engineering Bioengineering,"[AHSE1101 0405FA, AHSE1500 0405SP, AHS...",1,2,3,1,5
9,10784794,2011,2015,SCOPE,"[Undeclared, Engineering]",[Design],Engineering,Design,Engineering Design,"[AHSE1155 1112SP, AHSE1500 1314FA, AHS...",0,2,5,6,0